<div class="table-container">

  <div class="table-meta-form">
    <mat-form-field class="example-full-width mat-form-field-with-divider">
      <mat-label>Table Name</mat-label>
      <input matInput placeholder="請使用camelCase" [(ngModel)]="tableName">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="enversAudit">Envers Audit</mat-slide-toggle>
  </div>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="addEmptyColumn()" class="demo-button">
          Add Empty Column
        </button>
        <button mat-raised-button (click)="addCreatedDateColumn()" class="demo-button">
          Add created_date Column
        </button>
        <button mat-raised-button (click)="addCreatedUserIdColumn()" class="demo-button">
          Add created_user_id Column
        </button>
        <button mat-raised-button (click)="addUpdatedDateColumn()" class="demo-button">
          Add updated_date Column
        </button>
        <button mat-raised-button (click)="addUpdatedUserIdColumn()" class="demo-button">
          Add updated_user_id Column
        </button>
        <button mat-raised-button color="warn" [disabled]="!columns.length" (click)="removeColumn()" class="demo-button">
          Remove Column
        </button>
      </div>

      <table mat-table [dataSource]="columns" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="Key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let column">
            <mat-form-field class="column-key">
              <mat-select [(ngModel)]="column.key">
                <mat-option value="PK">PK</mat-option>
                <mat-option value="UK">UK</mat-option>
                <mat-option value="N">N</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Name" class="column-name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let column">
            <mat-form-field class="column-name">
              <mat-label>請輸入欄位名稱</mat-label>
              <input matInput required [(ngModel)]="column.name">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let column; let i=index">
            <mat-form-field>
              <mat-select [(ngModel)]="column.type">
                <mat-option value="UUID">UUID</mat-option>
                <mat-option value="JSONB">JSONB(I18nNameMap)</mat-option>
                <mat-option value="BOOL">BOOL</mat-option>
                <mat-option value="TIMESTAMP">TIMESTAMP</mat-option>
                <mat-option value="DATETIME">DATETIME</mat-option>
                <mat-option value="TEXT">TEXT</mat-option>
                <mat-option value="TIME">TIME</mat-option>
                <mat-option value="INT">INT</mat-option>
                <mat-option value="VARCHAR">VARCHAR</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="column.type.startsWith('VARCHAR')">
              <mat-label>請輸入VARCHAR長度</mat-label>
              <input matInput required min="2" type="number" (input)="onVarcharLengthChanged($event.target, i)">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Nullable">
          <th mat-header-cell *matHeaderCellDef>Nullable</th>
          <td mat-cell *matCellDef="let column">
            <mat-form-field>
              <mat-select [(ngModel)]="column.nullable">
                <mat-option value="NOTNULL">NOTNULL</mat-option>
                <mat-option value="NULL">NULL</mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let column">
            <mat-form-field>
              <input matInput required [(ngModel)]="column.description">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let column; let i=index">
            <button mat-icon-button (click)="deleteColumn(i)" class="demo-button"
              color="warn"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="button-container">
        <button mat-raised-button color="accent" [disabled]="isGenerateButtonDisabled" (click)="generateByTable()" class="demo-button">
          Generate 🪄
        </button>
      </div>

</div>
