.auto-resize-textarea {
  resize: none;
  height: 50vh;
}

.dialog-content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.mat-dialog-content {
  overflow: hidden !important;
}