<div class="dialog-content-container">
  <h2 mat-dialog-title align="center">Code Preview</h2>
  <mat-dialog-content color="primary">
    <ngs-code-editor class="auto-resize-textarea" [theme]="codeEditorTheme" [codeModel]="codeEditorModel" [options]="options" (valueChanged)="onCodeChanged($event)">
    </ngs-code-editor>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Back</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="download()">Download</button>
  </mat-dialog-actions>
</div>
